

body{
    margin:0px !important;
    background-color: white !important;
    color: black !important;
}

p {
    font-size: 12px !important;
}

h5{
    color:white !important;
    text-transform: uppercase !important;
    font-size: 1rem !important;
}



/* nav */

#navbarsExample03{
    padding-right: 152px !important;
}

.container-fluid {
    justify-content: space-between !important;
    padding-top: 1rem;
}

.justify {
    justify-content: center !important;
}
.cart-container {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: right !important;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    white-space: nowrap;
    margin-right: none !important;
    max-height: 80px !important;
}

.navbar-collapse {
    padding-right: 35px !important;
    border: none !important;
}

.navbar {
    background-color: white !important;
    padding-bottom: 16px !important;
    font-family: 'adelle-sans', sans-serif !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.nav-link {
    color: black !important;

}

.navbar-toggler:focus {
    box-shadow: none !important;
}



button {
    border-style: none !important;
}

.btn-color {
    background-color: #DC7C24 !important;
    color: white !important;
    margin-bottom: 20px !important;
    padding: 10px !important;
    font-family: 'adelle-sans', sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
}

.btn-color:hover {
    background-color: #721139 !important;
}


/* containers */
.container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;

}

/* carousel */
.carousel {
    height: 150px !important;
    margin-top: 4em !important;
}

.carousel-caption h3 {
    font-size: calc(1.5rem + 1.5vw) !important;
    font-size: 24px !important;
    font-family:'adelle-sans', sans-serif !important;
    font-weight: 400 !important;
    font-style: italic !important;
    position: absolute !important;
    top: -55px !important;

  }

.carousel-caption p {
    font-size: calc(1.5rem + 1.5vw) !important;
    font-size: 16px !important;
    font-style: italic !important;
    position: absolute !important;
    top: 6px !important;
    right: 100px !important;

  }


.carousel-link{
  text-decoration: underline !important;
  font-size: 16px !important;
  font-family:  'adelle-sans', sans-serif !important;
  color: white !important;

}


/* home main */


.homeImage01{
    margin-top: -26em !important;
    max-width: 276px !important;

}

.homeImage04 {
    margin-top: -26em !important;
    max-width: 276px !important;

}


.pattern-background-img{
    max-width: 316px !important;
}


.text-align-center {
    text-align: center !important;
}

.stack-text-top {
    font-family: 'adelle-sans', sans-serif !important;
    font-weight: 500 !important;
    font-style: italic !important;
}
.stack-text-bottom {
    margin-top: -38px !important;

}

.animateOne {
    transition: all .4s ease 0s;
}

.animateOne:hover {
    transform: translate(100px, 0px);
    transition: 1400ms;
}

.animateTwo {
    transition: all .4s ease 0s;
}

.animateTwo:hover {
    transform: translate(-100px, 0px);
    transition: 1400ms;
}



hr {
    margin-top: 5em !important;
    margin-bottom: 5em !important;
    max-width: 80% !important;
    margin-right: auto !important;
    margin-left: auto !important;
}



h1{
    font-family: 'adelle-sans-ultra-thin', sans-serif !important;
    font-weight: 200 !important;
    font-style: normal !important;
    font-size: 4em !important;
}

p{
    font-family: 'adelle-sans', sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;

}
    
/* footer */

.footer {
    background-color: black !important;
    font-family: 'adelle-sans', sans-serif !important;
}

.logo-footer {
    max-width: 168px;
}

.link-secondary {
    font-family: 'adelle-sans', sans-serif !important;
}


/* shop */

.top-text{
    margin-top: 10em !important;
}

.stack-text-top-shop {
    font-family: 'adelle-sans', sans-serif !important;
    font-weight: 500 !important;
    font-style: italic !important;
}

.stack-text-bottom-shop {
    margin-top: -38px !important;


}


.product-heading {
    font-family: 'adelle-sans', sans-serif !important;
    font-weight: 600 !important;
    font-style: italic !important;
    font-size: 22px !important;
    text-transform: uppercase !important;
    padding-top: 16px !important;
}

.fs-16 {
    font-size: 16px !important;
}



.hover:hover {
    color:#497DB8 !important;
    
}

.hover2 {
    transition: 1400ms;

}

.hover2:hover {
    transform: scaleX(6);
    transform: scaleY(1.1);
    transition: 1400ms;

}

/* cart */

.mt-extra {
    margin-top: 10rem !important;
}

.cart-heading {
    font-family: 'adelle-sans', sans-serif !important;
    font-weight: 600 !important;
    font-style: italic !important;
    font-size: 22px !important;
    text-transform: uppercase !important;
    padding-top: 16px !important;
}


.btn-width{
    max-width: 243px !important;
}

#addCart {
    text-align: center !important;

}

#price {
    color:white !important;
}

.fs-22 {
    font-size: 22px !important;
    font-weight: 500 !important;
}

.stack-text-top-cart{
    font-family: 'adelle-sans', sans-serif !important;
    font-weight: 500 !important;
    font-style: italic !important;
    font-size: 29px !important;

}

.stack-text-bottom-cart{
    margin-top: -38px !important;
    font-size: 29px !important;
    margin-top: -21px !important;

}






/*responsive */


@media (min-width: 375px) {
    li a {
        border-bottom: solid .1em !important;
        width: 175% !important;
    }

    li a:hover {
        color: #721139 !important;
    }

    .m-other {
        margin-top: 4rem !important;
    }

    .m-other-2 {
        margin-top: 2rem !important;

    }

  
    }

@media (min-width: 768px) {

    li a {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        border-bottom: none !important;
    }

    li a:hover {
        background-color: none !important;
        color: none !important;
    }

    li a::after {
        content:'';
        position:absolute;
        display: block;
        height: 0.1em;
        width:0%;
        background-color: black;
        transition: all ease-in-out 250ms;
    }
    
    li a:hover::after{
        width: 3%;
        background-color: none !important;
        
    
    }

    h6 {
        margin-bottom: 2rem !important;
    }

        
    .carousel-caption p {
        font-size: calc(1.5rem + 1.5vw) !important;
        font-size: 16px !important;
        font-style: italic !important;
        position: absolute !important;
        top: -18px !important;
        left: 83px !important;

        
    }
    .carousel-caption h3 {
        font-size: calc(1.5rem + 1.5vw) !important;
        font-size: 29px !important;
        font-family:'adelle-sans', sans-serif !important;
        font-weight: 400 !important;
        font-style: italic !important;
        position: absolute !important;
        top: -55px !important;
    
      }

    /* shop */

    
    .stack-text-top-shop {
        font-family: 'adelle-sans', sans-serif !important;
        font-weight: 500 !important;
        font-style: italic !important;
        font-size: 116px !important;
    }

    .stack-text-bottom-shop {
        margin-top: -63px !important;
        font-size: 116px !important;
    
    }

    .pwidth-shop {
        max-width: 550px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    /* cart */

    .cart-heading {
        font-size: 2rem !important;
    }

    .mt-lg-x5{
        margin-top: 32px !important;
    }

    .stack-text-top-cart{
        font-family: 'adelle-sans', sans-serif !important;
        font-weight: 500 !important;
        font-style: italic !important;
        font-size: 44px !important;
    
    }
    
    .stack-text-bottom-cart{
        margin-top: -38px !important;
        font-size: 44px !important;
        margin-top: -28px !important;
    
    }
}
  
    @media (min-width: 1200px) {

        h6 {
            margin-bottom: 2rem !important;
        }
      
        .carousel-caption p {
            font-size: calc(1.5rem + 1.5vw) !important;
            font-size: 16px !important;
            font-style: italic !important;
            position: absolute !important;
            top: -11px !important;
            left: 83px !important;
    
            
        }
        .carousel-caption h3 {
            font-size: calc(1.5rem + 1.5vw) !important;
            font-size: 43px !important;
            font-family:'adelle-sans', sans-serif !important;
            font-weight: 400 !important;
            font-style: italic !important;
            position: absolute !important;
            top: -55px !important;
            left: 130px !important;
        
          }
        
        .carousel-link {
            font-size: 20px !important;
        }
        .resp-home-lg{
            max-width: 316px !important;
        }

        .resp-home-lg-02{
            max-width: 510px !important;
        }

        .resp-home-lg-03{
            max-width: 386px !important;
        }

        .homeImage04 {
            margin-top: -41em !important;
            max-width: 500px !important;
        }

        .homeImage01{
            margin-top: -41em !important;
            max-width: 500px !important;
        }

        .pattern-background-img {
            max-width: 516px !important;
        }
        .resp-home-colmain{
            padding-left: 12em !important;
            padding-top: 10em;

        }
        .h6-home-lg {
            padding-bottom: 3rem !important;
        }

        .stack-text-top {
            font-family: 'adelle-sans', sans-serif !important;
            font-weight: 500 !important;
            font-style: italic !important;
            font-size: 90px !important;
          }
        
        .stack-text-bottom {
            margin-top: -51px !important;
            font-size: 90px !important;
        
        }

        /* cart */
        .mt-lg-x5{
            margin-top: 6rem !important;
        }

        .cart-heading {
            font-size: 3rem !important;
        }

        .img-padleft{
            padding-left: 6rem!important;
        }

        .stack-text-top-cart{
            font-family: 'adelle-sans', sans-serif !important;
            font-weight: 500 !important;
            font-style: italic !important;
            font-size: 60px !important;
        
        }
        
        .stack-text-bottom-cart{
            margin-top: -38px !important;
            font-size: 60px !important;
            margin-top: -37px !important;
        
        }

        .ms-lg-other{
            margin-left: 8rem !important;
        }
    }
