

body{
    margin:0px !important;
    background-color: white !important;
    color: black !important;
}


/* nav */

.container-fluid {
    justify-content: space-between !important;
    padding-top: 1rem;
}

.justify {
    justify-content: center !important;
}
.cart-container {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: right !important;
}



.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    white-space: nowrap;
    margin-right: none !important;
    max-height: 70px;
}

.navbar-collapse {
    padding-right: 35px !important;
    border: none !important;
}

.navbar {
    background-color: white !important;
}

.nav-link {
    color: black !important;

}

.navbar-toggler:focus {
    box-shadow: none !important;
}


button {
    border-style: none !important;
}

.btn-color {
    background-color: #BF8975 !important;
    margin-bottom: 20px !important;
    padding: 10px !important;
    color: white !important;
    font-family:  'adelle-sans', sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    text-transform: uppercase !important;
}
 


/* containers */
.container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;

}

/* carousel */
.carousel {
    height: 300px !important;
    margin-top: 40px !important;
  }

  .carousel-caption h1 {
    font-size: calc(1.5rem + 1.5vw) !important;

  }


/* home main */

.homeImage02{
    margin-top: -26em;
    max-width: 250px !important;
    
}

.homeImage01{
    max-width: 315px !important;

}

.homeImage03 {
    max-width: 315px !important;

}

.homeImage04 {
    margin-top: -26em !important;
    max-width: 250px !important;
    
}

h1{
    font-family: 'adelle-sans-ultra-thin', sans-serif !important;
    font-weight: 200 !important;
    font-style: normal !important;
    font-size: 4em !important;
}

p{
    font-family: 'adelle-sans', sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;

}



/*responsive */


@media (min-width: 375px) {

    .featurette-heading {
      font-size: 2.5rem !important;
      font-family: 'Space Grotesk'!important;
    }
  
    .lead {
      font-family: 'Source Code Pro', monospace !important;
      font-size: 1rem !important;
      line-height: 35px;
  
    }

 
    @media (min-width: 776px) {
      .lead {
        font-family: 'Source Code Pro', monospace !important;
        font-size: 1.5rem !important;
        line-height: 55px !important;
  
      }
    }
  
    @media (min-width: 1200px) {
      h1 {
          font-family: Arial, Helvetica, sans-serif !important;
      }
    }
}